@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --size: 60px;
    --line: hsl(0 0% 98% / 0.25);
    --dark-color: #101413;
    --light-color: #ece0c8;
  }

  html{
    scroll-behavior: smooth;
    overflow: hidden;
  }

  button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.screen{
  height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
    width: 100%;
    height: 210vh;
    background: var(--dark-color);
    font-family: "DM Serif Display", serif;
    color: var(--light-color);
  }
  
  /* Background styling */
  body::before {
    content: '';
    height: 100vh;
    width: 150vw;
    position: fixed;
    background: linear-gradient(
          90deg,
          var(--line) 1px,
          transparent 1px var(--size)
        )
        50% 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
        var(--size) var(--size);
    mask: linear-gradient(-15deg, transparent 30%, white);
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
  }

  .screen{
    height: 100vh;
  }

  /* ----------------------------------------------------------------------------- */

  /* nav bar styling */
  nav{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 4rem;
    height: 5rem;
    font-size: 1.25rem;
    margin-right: 2rem;
    /* background-color: var(--dark-color); */
  }

  nav a:last-child{
    width: 100%;
    height: 100%;
  }

  nav a:hover:not(:last-child){
    text-shadow: 0 0 8px var(--light-color);
  }

  a {
    color: var(--light-color);
    text-decoration: none;
  }

  #pricing{
    border: solid 1px var(--light-color);
    padding: 0.5rem 1.5rem;
  }
  #pricing:hover{
    transition: all .2s ease-in-out;
    scale: 1.1;
  }
  /* --------------------------------------------------------------- */
  /* main styling */

  main{
    margin-top: 3rem;
    padding-top: 3rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .main-container{
    padding: 0 5rem;
  }
  .container-text{
    margin-bottom: 3rem;
    margin-top: auto;
  }
  .container-text h1{
    font-size: 5rem;
  }
  .container-text h2{
    font-family: "Playfair Display", serif;
    font-size: 2rem;
  }
  .container-img img{
    /* maybe change later */
    min-width: 150px;
    max-width: 300px;
  }
  #hire{
    display: inline-block;
    font-size: 1.5rem;
    border: solid 1px var(--light-color);
    padding: 0.5rem 1.5rem;
    margin-top: 15px;
    margin-left: 10rem;
  }
  #hire a{
    width: 100%;
    height: 100%;
  }

  #hire:hover{
    transition: all .2s ease-in-out;
    scale: 1.1;
  }
/* -------------------------------------------------------- */

.learn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 3rem;
}
.learn button{
    padding: 1rem;
    transition: all .2s ease-in-out;
}
.learn button:hover{
    transform: translateY(5px);
}
#triangle{
    width: 0; 
    height: 0; 
    margin: auto;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--light-color);
}

/* ---------------------------------------------------------- */
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#cards-container{
  margin-top: auto;
  scroll-snap-stop: always;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  width: 100%;
}

.card{
  border: 1px solid var(--light-color);
  border-radius: 30px;
  height: 80vh;
  max-width: 25rem;
  min-width: 15rem;
}

.back{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 3rem;
  padding-bottom: .5rem;
}
.back button{
  padding: 4rem 5rem 2rem 5rem;
  transition: all .2s ease-in-out;
}
.back button:hover{
  transform: translateY(-5px);
}
#triangle-up{
  width: 0; 
  height: 0; 
  margin: auto;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--light-color);
}


@media (max-width: 1076px) 
 {
  .container-text h1{
    font-size: 3rem;
  }
  .container-text h2{
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
  }
  .container-text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  .container-img img{
    width: 250px;
  }
  .learn-button{
    margin-top: 5rem;
  }
  #hire{
    display: inline-block;
    padding: 0.5rem 1.5rem;
    margin-top: 15px;
    /* margin-left: 5rem; */
    margin-left: auto;
    margin-right: auto;
  }
  .learn{
    margin-top: 0;
    padding-top: 0;
}
 }

 @media (max-width: 750px) 
 {
  .main-container{
    padding: 0 2.5rem;
  }
  .container-img img{
    width: 120%;
  }
  .container-text{
    font-size: 3vw;
  }
  .learn-button{margin-top: 0;}
 }

@media (max-width: 530px) 
 {
    nav{
        margin-right: 0;
        gap: 2rem;
        justify-content: center;
      }
      main{
        margin-top: 0;
      }
      .container-text{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .container-img img{
        width: 200px;
      }
      main{
        flex-wrap: wrap;
      }
      .main-container{
        padding: 0;
      }
      .container-text h1{
        font-size: 3rem;
      }
      .container-text h2{
        font-family: "Playfair Display", serif;
        font-size: 1.5rem;
      }
      .container-text p{
        font-size: 1rem;
      }
      #hire{
        display: inline-block;
        padding: 0.5rem 1.5rem;
        margin-top: 15px;
        /* margin-left: 5rem; */
        margin-left: auto;
        margin-right: auto;
      }
      .learn{
        margin-top: 0;
        padding-top: 0;
    }
 }

